@import 'fonts';
@import 'googlemap';

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 1rem;
}
a {
    color: #00B7FF;
}
#fav-btn {
    margin-left: 1rem;
}
.user-buttons {
    margin: 3.5px;
}
.site-description {
    width: 100%;
    padding: {
        left: 25%;
        right: 25%;
    }
    h1 {
        font-size: 5rem;
    }
    p {
        font-size: 3rem;
    }
    li {
        font-size: 1.8rem;
    }
}
ul {
    list-style: none;
}
#button-label {
    font-size: 2rem;
}

.star{
  border-color: hsl(24, 100%, 45%);
  color: hsl(24, 100%, 45%);
  background-color: white;
  &:hover{
    color:hsl(24, 100%, 45%);
    font-weight: bold;
  }
}

.favorite{
  border-color: hsl(24, 100%, 45%);
  color: white;
  background-color: hsl(24, 100%, 45%);
  &:hover{
    font-weight: normal;
    color: white;
  }
}
