<header>
  <nav>
    <a href="#!" class="brand-logo">Happy Tracker</a>
    <form method="post" action="">
      <label for="search"><i class="material-icons">search</i></label>
      <input id="search" type="search" required>
    </form>
    <h1>Happy Tracker</h1>

<!--login stuff -->
    <form method="post" action="" class="right-align">
      <label for="email">Email</label>
      <input id="email" type="email" class="validate">
      <label for="password">Password</label>
      <input id="password" type="password" class="validate">
    </form>
  </nav>

<p>Welcome to Happy Tracker!</p>
<p>Happy Tracker is a happy hour tracker for Denver neighborhoods.  Users can search by neighborhood and location for happy hour details at various venues.  Logged in users are able to filter by times, days, and neighborhood.  Other features available to logged in users is the ability to save their favorite happy hours so that they are easy to find again.</p>
