<h1>Happy Tracker</h1>
<p>Welcome to Happy Tracker!</p>
<p>Happy Tracker is a happy hour tracker for Denver neighborhoods.  Users can search by neighborhood and location for happy hour details at various venues.  Logged in users are able to filter by times, days, and neighborhood.  Other features available to logged in users is the ability to save their favorite happy hours so that they are easy to find again.</p>
