<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <footer class="page-footer">
      <div class="container">
        <div class="footer-copyright center-align">
          © 2016 Happy Tracker - Denver, CO
        </div>
      </div>
    </footer>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> -->
  </body>
</html>
