#map {
  height: 50vh; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 1rem; }

a {
  color: #00B7FF; }

#fav-btn {
  margin-left: 1rem; }

.user-buttons {
  margin: 3.5px; }

.site-description {
  width: 100%;
  padding-left: 25%;
  padding-right: 25%; }
  .site-description h1 {
    font-size: 5rem; }
  .site-description p {
    font-size: 3rem; }
  .site-description li {
    font-size: 1.8rem; }

ul {
  list-style: none; }

#button-label {
  font-size: 2rem; }

.star {
  border-color: #e65c00;
  color: #e65c00;
  background-color: white; }
  .star:hover {
    color: #e65c00;
    font-weight: bold; }

.favorite {
  border-color: #e65c00;
  color: white;
  background-color: #e65c00; }
  .favorite:hover {
    font-weight: normal;
    color: white; }
